<div class="example-container">
    <h2 class="mat-h2">Entries</h2>
    <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Type</mat-label>
        <mat-select>
            <mat-option value="option">One</mat-option>
            <mat-option value="option">Two</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Content</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
    <div class="button-container">
        <button mat-raised-button color="primary">Primary</button>
    </div>
</div>